@media (max-width: 760px) {
    .controls-container {
        display: block;
    }
    button {
        display: block;
        width: 100%;
        font-size: 1rem;
    }
    select {
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
    .video-controls {
        display: block;
    }
}